{% extends 'base.html' %}
{% block title %}Register Training Session{% endblock %}
{% block content %}

{% include 'nav.html' %}



<div class="container-fluid">
    <div class="row">
        {% include 'leftmenu.html' %}
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">

            <h1 class="h2">Register a Training Session</h1>

            <div class="row my-4">
                <div class="col-12 col-xl-10 mb-6 mb-lg-0">
                    <div class="card">
                        <h5 class="card-header">Register a Session</h5>
                        <div class="card-body">
                            {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% else %}
                            <div class="container">
                                <form action="/log-training-session" method="post">
                                    <div class="row mb-4">
                                        <div class="col-md-6">
                                            <label for="athlete_id" class="form-label">Select Athlete</label>
                                            <select id="athlete_id" class="form-select" name="athlete_id">
                                                {% for athlete in athletes %}
                                                <option value="{{ athlete.id }}">{{ athlete.fullname|capitalize }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="date" class="form-label">Training Date</label>
                                            <input type="text" class="form-control" data-provide="date" id="session_dt"
                                                name="session_dt" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary">Record session</button>
                                        </div>
                                    </div>
                            </div>
                            </form>
                        </div>
                        {% endif %}
                    </div> <!-- card-body -->
                </div>
            </div>
    </div>
    </main>
</div>
</div>

<script>
    $('#session_dt').datepicker({
        format: 'yyyy-mm-dd',
        todayBtn: 'linked',
        todayHighlight: true,
        orientation: 'bottom',
        endDate: new Date(),
        autoclose: true
    });

</script>



{% endblock %}