{% extends 'base.html' %}
{% block title %}Athlete Details{% endblock %}
{% block content %}

{% include 'nav.html' %}

<div class="container-fluid">
    <div class="row">
        {% include 'leftmenu.html' %}
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <h1 class="h2">{{ athlete.fullname }}</h1>
            <div class="row my-4">
                <div class="col-12 col-xl-10 mb-6 mb-lg-0">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link {% if active_tab=='profile' %}active{% endif %}"
                                href="/view-athlete/{{ athlete.id }}?tab=profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active_tab=='training-sessions' %}active{% endif %}"
                                href="/view-athlete/{{ athlete.id }}?tab=training-sessions">Training
                                Sessions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active_tab=='private-coaching' %}active{% endif %}"
                                href="/view-athlete/{{ athlete.id }}?tab=private-coaching">Private Coaching
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active_tab=='competitions' %}active{% endif %}"
                                href="/view-athlete/{{ athlete.id }}?tab=competitions">Competitions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active_tab=='payments' %}active{% endif %}"
                                href="/view-athlete/{{ athlete.id }}?tab=payments">Payments</a>
                        </li>
                    </ul>
                    {% if active_tab == 'profile' %}
                    <div class="row my-4">
                        <div class="col-12 col-xl-8 mb-4 mb-lg-0">
                            <div class="card">
                                <div class="card-body">
                                    <form class="row g-3" action="/update-athlete" method="post">
                                        <input type="hidden" name="athlete_id" value="{{ athlete.id }}">
                                        <div class="col-md-6">
                                            <label for="fullname" class="form-label">Full name</label>
                                            <input type="text" class="form-control" id="fullname" name="fullname"
                                                value="{{ athlete.fullname }}">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="gender" class="form-label">Gender</label>
                                            <select id="gender" class="form-select" name="gender">
                                                <option {% if athlete.gender=='Male' %}selected{% endif %}>Male</option>
                                                <option {% if athlete.gender=='Female' %}selected{% endif %}>Female
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="age" class="form-label">Age</label>
                                            <input min="15" max="100" type="number" class="form-control" id="age"
                                                name="age" value="{{ athlete.age }}">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="weight" class="form-label">Weight (KG)</label>
                                            <input type="number" class="form-control" id="weight" name="weight"
                                                value="{{ athlete.weight }}">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="training_plan" class="form-label">Training Plan</label>
                                            <select id="training_plan" class="form-select" name="training_plan"
                                                disabled>
                                                {% for plan in training_plans %}
                                                <option value="{{ plan.id }}" {% if plan.id==athlete.training_plan
                                                    %}selected{% endif %}>{{ plan.name|capitalize }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary mb-3">Update</button>
                                        </div>
                                    </form>
                                </div> <!-- card-body -->
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if active_tab == 'training-sessions' %}
                    <div class="row my-4">
                        <div class="col-12 col-xl-10 mb-6 mb-lg-0">
                            <div class="card">
                                <div class="card-body">
                                    {% if training_sessions %}
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Session Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for session in training_sessions %}
                                                <th scope="row">{{ loop.index }}</th>
                                                <td>{{ session.date }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% else %}
                                    <p class="card-text text-center"><a href="/log-training-session"
                                            class="btn btn-sm btn-primary">Register a training session</a>
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if active_tab == 'private-coaching' %}
                    <div class="row my-4">
                        <div class="col-12 col-xl-10 mb-6 mb-lg-0">
                            <div class="card">
                                <div class="card-body">
                                    {% if coaching_sessions %}
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Session Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for sess in coaching_sessions %}
                                                <th scope="row">{{ loop.index }}</th>
                                                <td>{{ sess.date }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% else %}
                                    <p class="card-text text-center"><a href="/log-coaching-session"
                                            class="btn btn-sm btn-primary">Log a private coaching session</a>
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if active_tab == 'competitions' %}
                    <div class="row my-4">
                        <div class="col-12 col-xl-10 mb-6 mb-lg-0">
                            <div class="card">
                                <div class="card-body">
                                    {% if competitions %}
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Competition Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for comp in competitions %}
                                                <tr>
                                                    <th scope="row">{{ loop.index }}</th>
                                                    <td>{{ comp.name }}</td>
                                                    <td>{{ comp.date }}</td>
                                                </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                    {% else %}
                                    <p class="card-text text-center"><a href="/list-competitions"
                                            class="btn btn-sm btn-primary">Register in a competition</a>
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if active_tab == 'payments' %}
                    <div class="row my-4">
                        <div class="col-12 col-xl-10 mb-6 mb-lg-0">
                            <div class="card">
                                <div class="card-body">
                                    {% if (training_summary or coaching_summary_fees or competitions_summary) %}
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Item</th>
                                                    <th scope="col">Period</th>
                                                    <th scope="col">No. of Items</th>
                                                    <th scope="col">Fees</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if training_summary %}
                                                <tr>
                                                    <th colspan="5">Training Sessions</th>
                                                </tr>
                                                {% for session in training_summary %}
                                                <tr>
                                                    <th scope="row">{{ loop.index }}</th>
                                                    <td>Training Session </td>
                                                    <td>{{ session.WeekStart }} - {{ session.WeekEnd }}</td>
                                                    <td>{{ session.NumSessions }}</td>
                                                    <td>AED {{ "{:0,.2f}".format(athlete_plan_fee) }}</td>
                                                </tr>
                                                {% endfor %}
                                                {% endif %}

                                                {% if coaching_summary_fees %}
                                                <tr>
                                                    <th colspan="5">Private Coaching Sessions</th>
                                                </tr>
                                                {% for sess in coaching_summary_fees %}
                                                <tr>
                                                    <th scope="row">{{ loop.index }}</th>
                                                    <td>Coaching Sessions</td>
                                                    <td>{{ sess.WeekStart }} - {{ sess.WeekEnd }}</td>
                                                    <td>{{ sess.NumSessions }}</td>
                                                    <td>AED {{ "{:0,.2f}".format(sess.total_fees) }}</td>
                                                </tr>
                                                {% endfor %}
                                                {% endif %}

                                                {% if competitions_summary %}
                                                <tr>
                                                    <th colspan="5">Competitions</th>
                                                </tr>
                                                {% for comp in competitions_summary %}
                                                <tr>
                                                    <th scope="row">{{ loop.index }}</th>
                                                    <td>{{ comp.name }}</td>
                                                    <td>{{ comp.date }}</td>
                                                    <td>1</td>
                                                    <td>AED {{ "{:0,.2f}".format(comp.entry_fee) }}</td>
                                                </tr>
                                                {% endfor %}
                                                {% endif %}
                                                <tr>
                                                    <th colspan="4" class="text-end">Total</th>
                                                    <th>AED {{ "{:0,.2f}".format(total_payment) }}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {% else %}
                                    <p class="alert alert-warning text-center">You don't have any logged activity yet.
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div> <!-- col-12 col-xl-10 mb-6 mb-lg-0 -->
            </div>
        </main>
    </div>
</div>

{% endblock %}